.body{
    margin: 0;
    padding: 0;
}
.bg-container {
    background-image: url(/public/photos/bg-2.jpg);
    height: 100vh ;
    background-size: cover;
}

.shade {
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
}

p{
    font-size: 13px;
}