.bg-container {
    height: 100vh;
    background-image: url(/public/photos/banner1.jpg);
    background-size: cover;
}

.shade {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70% ;
}
